<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PDF Compressor</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>PDF Compressor</h1>
    <form id="uploadForm">
      <input type="file" id="pdfInput" name="pdf" accept=".pdf" required>
      <button type="submit">Compress</button>
    </form>
    <div id="result"></div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>



<!-- http://localhost:5000/ -->
